@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-4xl	font-mono	font-bold pb-8;
  }

  h2 {
    @apply text-2xl font-mono pb-6 font-bold uppercase;
  }

  h3 {
    @apply text-base;
  }

  label {
    @apply text-base;
  }
}

@layer components {

  main {

    @apply p-4;
  }

  section {
    /* @apply py-8; */
  }

  button.big {
    @apply rounded-lg font-bold mb-4 mx-auto px-4 py-2 text-center;
  }

  button.small {
    /* @apply rounded-full */
  }

  button.colorized {
    @apply transition-colors duration-300;
  }
}



.transition-appear {
  opacity: 0;
  transform: translateX(20px); /* start position (off the screen) */
  transition: opacity 1s ease, transform 0.5s ease;
}

.transition-show {
  opacity: 0.75;
  transform: translateY(0); /* slide to its final position */
}